# Configurações do banco de dados
DATABASE_USERNAME="projeto02"
DATABASE_PASSWORD="projeto02"
DATABASE_NAME="projeto02"
DATABASE_HOST="localhost"
DATABASE_PORT=5432

# Configurações do SqlAlchemy
DATABASE_URL="postgresql+psycopg2://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"

# Configurações do JWT
JWT_SECRET="0af751a1d389cb9d5cd7fdd6dca60bb342b6b028f2d7d28bbcea8bbc90813802"
JWT_ALGORITHM="HS256"
JWT_EXPIRATION=3600

# Configurações do FastAPI
HOST="0.0.0.0"
PORT=8000
